#Ignore all logs
*.log

#Ignore folders
Notebooks/
SCRIPTS/
Bolivia/
Configuration/
Infraestructure/
Loggin/
__pycache__/
ReportesSNIS/

# Ignore files
AppScheduler.py
appSettings.json
geckodriver.log
